header {
  min-height: 50vh;
  border: 1pxs solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  .svg {
    position: absolute;
    border: 1px solid yellow;
    width: 400px;
    svg {
      width: 100%;
    }
  }
  .profile_img {
    width: 300px;
    border: 2px solid green;
    border-radius: 50%;
    img {
      border-radius: 50%;
      display: block;
    }
  }
}
