$gold: #927940;
$red: #cf2a30;
$blue: #aed1e7;
$darkGrey: #2e353f;

header {
  min-height: 90vh;
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $darkGrey;
  position: relative;
  z-index: -2;
  .header__card {
    width: 400px;
    background-color: white;
    padding: 15px;
    height: 300px;
    position: absolute;
    bottom: -230px;
    right: -400px;
    border-radius: 50px;
    box-shadow: 3px 4px 8px 3px rgba(rgb(103, 103, 103), 0.25);
  }
  .flex__wrap {
    // border: 2px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 150px;
    bottom: 50px;
  }
  .svg {
    position: absolute;
    z-index: -1;
    // border: 1px solid yellow;
    width: 800px;
    svg {
      width: 100%;
    }
  }
  .profile_img {
    width: 350px;
    // border: 2px solid green;
    border-radius: 50%;
    img {
      border-radius: 50%;
      display: block;
    }
  }
}
